# Meteorological Data (Mostly String Handling)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('01_meteoblue_Basel_20230303T060433.csv',header=9)
df.dropna(inplace=True)
df.head()

,timestamp,Basel Temperature [2 m elevation corrected],Basel Relative Humidity [2 m],Basel Cloud Cover Total,Basel Sunshine Duration,Basel Shortwave Radiation
0,20220101T0000,6.060245,94.19782,1.5,0.0,0.0
1,20220101T0100,5.560245,94.83262,3.0,0.0,0.0
2,20220101T0200,4.630245,96.47203,0.3,0.0,0.0
3,20220101T0300,3.660245,97.11870,1.2,0.0,0.0
4,20220101T0400,3.880245,96.16575,1.0,0.0,0.0

# Calculate the average daily temperature on February, 5th, 2022

In [125]:
feb_5th_2022 = df['timestamp'].str.contains('20220205')
feb_5th_2022_data = df[feb_5th_2022].copy()
feb_5th_2022_temperature= feb_5th_2022_data["Basel Temperature [2 m elevation corrected]"].to_numpy()

print("Average daily temperature on February 5th 2022:",feb_5th_2022_temperature.mean(),"°C")

Average daily temperature on February 5th 2022: 3.9619120124999996 °C

# Find the most cloudy day in January 2022

In [126]:
january_2022_filter = df["timestamp"].str.contains("202201")
january_2022_data = df[january_2022_filter].copy()
january_2022_data["day_index"] = january_2022_data.index // 24
daily_cloud = january_2022_data.groupby("day_index")["Basel Cloud Cover Total"].sum()

print("Most Cloudy Day :", daily_cloud.idxmax(),"th")

Most Cloudy Day : 2 th

# Find the most cloudy hour in January 2022

In [127]:
most_cloudy_hour = january_2022_data.loc[january_2022_data["Basel Cloud Cover Total"].idxmax()].timestamp

print("Most Cloudy Hour Timestamp:", most_cloudy_hour)

Most Cloudy Hour Timestamp: 20220103T0900

# Find the most sunny day in 2022

In [128]:
all_2022_filter = df["timestamp"].str.contains("202201")
all_2022_data = df[all_2022_filter].copy()
all_2022_data["day_index"] = all_2022_data.index // 24
daily_sun = all_2022_data.groupby("day_index")["Basel Sunshine Duration"].sum()

print("Most Sunny Day:", daily_sun.idxmax(),"th")

Most Sunny Day: 24 th

# Calculate the total radiation energy received in 2002

In [129]:
print("Total Radiation:", all_2022_data["Basel Shortwave Radiation"].sum(),"W/m²")

Total Radiation: 39971.0 W/m²